body {
  background-color: aliceblue !important;
}
.homepage {
  background: aliceblue;
  height: auto;
  width: auto;
  display: flex;
}

.branch-div {
  background: #377be0;
  color: white;
  width: 100%;
  height: 68px;
  margin-top: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.branch-div h2 {
  margin-left: 53px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
}
.branch-div p {
  font-size: 23px;
  font-weight: 700;
  margin-left: 53px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.parent-div {
  display: flex;
  width: 100%;
  flex-direction: column;
}

li {
  margin-top: 10px;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #256edb;
  width: fit-content;
}

li:first-child {
  margin-top: 5px;
}

.avatar {
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  margin-right: 8px;
}

.avatar img {
  height: inherit;
}

.dropdown-arrow {
  margin-right: 45px;
}

.dropdown-arrow .fa-caret-down {
  cursor: pointer;
}

.repo-div {
  height: 100%;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #f1eeee;
  padding: 10px;
}

.search-bar {
  display: flex;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

.search-bar input {
  height: 30px;
  background: #e7e7e7;
  border: navajowhite;
  border-radius: 4px;
  width: 350px;
  padding: 5px 10px 5px 10px;
}

.search-bar button {
  border: navajowhite;
  background: #017fde;
  border-radius: 4px;
  color: white;
  font-weight: 800;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
  padding-bottom: 1px;
  padding-top: 1px;
}

.branch {
  padding: 10px;
  height: calc(100vh - 221px);
  overflow: auto;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
}

th {
  padding: 5px;
  text-align: inherit;
}
tr {
  border-bottom: 1px solid gainsboro;
}

tr:nth-of-type(even) {
  background: #f1f2f3;
}

td {
  padding: 5px;
  height: 40px;
}

td:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #256edb;
  width: fit-content;
}

.user {
  display: flex;
  align-items: center;
}

.user h4 {
  margin-right: 10px;
}

.user-name {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}

.logout-dropdown {
  height: 75px;
  width: 100px;
  background: #e6e6e6;
  border-radius: 6px;
  position: absolute;
  right: 40px;
  top: 69px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.logout-dropdown div:hover {
  background: white;
  cursor: pointer;
}

.spinner-border {
  position: fixed;
  bottom: 50%;
  left: 49%;
}

.dropdown {
  margin-right: 45px;
}

.dropdown button {
  background: #387be0;
  border: none;
  padding: 0 !important;
}

.dropdown button:focus {
  color: #fff;
  background-color: #387be0 !important;
  border-color: #387be0 !important;
  box-shadow: none !important; 
  box-shadow: none !important; 
}

.dropdown button:active {
  color: #fff;
  background-color: #387be0 !important;
  border-color: #387be0 !important;
  box-shadow: none !important; 
  box-shadow: none !important; 
}

.dropdown-menu {
  margin-top: 5px !important;
}

.branch-div1 {
  background-color: aliceblue;
}
